.experience {
    height: 120vh;
    background: white;
    color: #333;
    margin-top: -27vh;
    padding-top: 27vh;
    -webkit-clip-path: polygon(0 25vh, 100% 0, 100% calc(100% - 75vh), 0 100%);
    clip-path: polygon(0 25vh, 100% 0, 100% calc(100% - 25vh), 0 100%);

    display: flex;
    flex-direction: column;
    align-items: center;

    &__heading {
        display: inline-block;
        font-family: elianto, sans-serif;
        text-align: center;
        font-size: 6rem;
        background: linear-gradient(to right, #fc00ff, #00dbde);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &--wrapper {
        width: calc(100% - 10rem);
        filter: drop-shadow(0 1rem 2rem rgba(0, 0, 0, 0.75));
    }
}
