// =============================================================================

$color: #fff;
$duration: 4s;
$ease: cubic-bezier(0.38, 0.11, 0.56, 0.83);
$easeCircle: cubic-bezier(0.38, 0.11, 0.54, 1);

.rocketloader {
    z-index: 15000;
    display: block;
    width: 164px;
    height: 164px;
    margin: 0 auto;
    font-size: 16px;
    position: relative;
    animation: spin 30s linear infinite;

    &:after {
        content: '';
        z-index: -1000;
        position: absolute;
        top: calc(50% - 4em / 2);
        left: calc(50% - 4em / 2);
        display: block;
        width: 4em;
        height: 4em;
        background-color: $color;
        border-radius: 50%;
        animation: pulse $duration $ease #{$duration/2 + 0.2s} infinite;
        will-change: transform;
    }

    &__rocket {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        animation: spin $duration $ease infinite;
        will-change: transform;
    }

    &__icon {
        position: absolute;
        top: -1.05em;
        left: calc(50% - 1em);
        display: block;
        transform: rotate(-90deg);
    }

    &__circle {
        fill: transparent;
        stroke: $color;
        stroke-dasharray: 500;
        stroke-dashoffset: 500;
        stroke-linecap: square;
        stroke-width: 5;
        animation: dash $duration $easeCircle infinite;
    }

    &__svg {
        display: inline-block;
        width: 1.4em;
        height: 2.33em;
        fill: $color;
        stroke: #000;
        stroke-width: 1;
    }

    &-enter {
        opacity: 0.01;
        transform: translateY(50vh) scale(1.1);
    }

    &-enter-active {
        opacity: 1;
        transform: translateY(0) scale(1);
        transition: all 3s ease;
    }

    &-exit {
        opacity: 1;
        transform: translateY(0) scale(1);
    }

    &-exit-active {
        opacity: 0.01;
        transform: translateY(-50vh)scale(1.1);
        transition: all 3s ease;
    }

    &--wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        z-index: 1000;
    }
}

// =============================================================================

.loader--container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

// =============================================================================

.eisenfoxLoader {
    position: absolute;
    top: calc(50% - 11.8rem / 2);
    left: calc(50% - 11.8rem / 2);
    width: 12.5rem;
    height: 12.5rem;
    z-index: 12000;

    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        border-width: 0.4rem;
        border-style: solid;
        border-radius: 50%;
    }

    &-1 {
        &:before {
            width: 11.7rem;
            height: 11.7rem;
            border-bottom-color: #333;
            border-right-color: #333;
            border-top-color: rgba(#333, 0);
            border-left-color: rgba(#333, 0);
            top: 0px;
            left: 0px;
            animation: rotate-animation 1s $easeCircle 0s infinite;
        }

        &:after {
            width: 8.2rem;
            height: 8.2rem;
            border-bottom-color: #333;
            border-right-color: #333;
            border-top-color: rgba(#333, 0);
            border-left-color: rgba(#333, 0);
            top: (11.7rem - 8.2rem) / 2;
            left: (11.7rem - 8.2rem) / 2;
            animation: anti-rotate-animation 0.85s $easeCircle 0s infinite;
        }
    }

    &-2 {
        &:before {
            width: 11.7rem;
            height: 11.7rem;
            border-color: white;
            top: 0px;
            left: 0px;
            animation: eisenfoxLoader_scale 1s linear 0s infinite;
        }

        &:after {
            width: 11.7rem;
            height: 11.7rem;
            border-color: white;
            top: 0;
            left: 0;
            opacity: 0;
            animation: eisenfoxLoader_scale 1s linear 0.5s infinite;
        }
    }

    &--wrapper {
        width: 100%;
        // height: fit-content;
        height: 100%;
        display: flex;
        justify-content: center;
        z-index: 10000;
    }
}

// =============================================================================

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-1turn);
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 500;
    }
    50% {
        stroke-dashoffset: 380;
    }
    100% {
        stroke-dashoffset: 500;
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.85);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(0.85);
    }
}

@keyframes eisenfoxLoader_scale {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(0.7);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}
