.projects {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &--wrapper {
        width: 100%;
        min-height: 100vh;
    }

    &__heading {
        font-family: elianto, serif;
        text-transform: uppercase;
        padding-top: 6rem;
        font-size: 6rem;
        color: white;
        text-align: center;
    }

    &__card {
        background: transparent;
        color: white;
        width: 100%;
        margin: 2rem 0;
        break-inside: avoid-column;
        border-radius: 0.3rem;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        float: right;
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.05);
        }

        &--wrapper {
            width: 100%;
            padding: 5rem 10rem;
            column-width: 25rem;
            column-gap: 4rem;
            width: 100%;
        }

        &__header {
            // display: none;
            border-radius: 0.3rem;
            overflow: hidden;
            width: 100%;
            position: relative;
            box-shadow: 0 1rem 1rem -0.9rem rgba(0, 0, 0, 0.5);

            &--img {
                width: 100%;
                border-radius: 0.3rem;
                object-fit: contain;
            }

            &:hover .projects__card__link-grp {
                opacity: 1;
            }
        }

        &__link {
            background: white;
            color: #333;
            border-radius: 100px;
            font-size: 1.3rem;
            padding: 0.5rem 2.5rem;
            border: 1px solid transparent;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            transition: all 0.3s ease;

            &:hover {
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
                background: #333;
                color: white;
                border: 1px solid white;
            }

            &:nth-of-type(1) {
                margin-bottom: 2rem;
            }

            &-grp {
                position: absolute;
                background: #00000060;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                opacity: 0;
                transition: all 0.3s ease;
            }
        }

        &__info {

        }

        &__title {
            font-size: 2.3rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
        }

        &__field {
            font-family: 'Montserrat', sans-serif;
            font-size: 1.5rem;
            font-weight: 600;
            font-style: italic;
            color: #ccc;
        }

        &__tech {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.2rem;
            font-weight: 600;

            &-grp {
                display: flex;
                flex-wrap: wrap;
            }
        }

        &__overview {
            padding-top: 1rem;
            text-align: justify;
            font-size: 1.3rem;
        }
    }


}